{
  "extends": "standard",
  "globals": {
    "describe": true,
    "it": true
  },
  "rules": {
    "new-cap": [
      2,
      { "newIsCapExceptions": ["type"] },
      { "capIsNewExceptions": ["Throw"] }
    ],
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  },
  "plugins": [
      "chai-friendly"
  ]
}
